/*Universal*/

:root{
    --borde-radio: 16px 0px;
    --colorUno: blue;
    --colorDos: red;
    --colorTres: green;
    --moverAn: ;
    --moverAp: aparecer 1s forwards;
    --grados: 320deg;
    --colorBorde: black;
    --backgroundUno: var(--colorUno);
    --backgroundDos: linear-gradient(var(--grados), var(--colorDos),var(--colorUno));
    --backgroundTres: linear-gradient(var(--grados), var(--colorTres),var(--colorDos),var(--colorUno));
}
html{
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background: var(--backgroundTres);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

/*Calculadora*/

.padre{
    border-radius: 16px;
    box-shadow: 0 10px 100px rgb(0, 0, 0);
    color: black;
    background: rgba(255, 255, 255, 0.3);
    border: solid var(--colorBorde);
    border-radius: var(--borde-radio);
    height: 540px;
    transition: .5s;
    padding: 20px 35px; 
    animation: aparecer 1s forwards;
}
.pantalla{
    background: rgba(255, 255, 255, 0);
    border: 2px solid black;
    border-radius: var(--borde-radio);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.5);
    color: black;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}
.boton-fila{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.boton{
    background: rgba(255,255,255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: var(--borde-radio);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
    color: black;
    flex-basis: 15%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
    transition: .5s;
}
.boton:nth-child(4n + 5){
    color: white;
    background-color: black;
}
.boton:hover{
    background-color: inherit;
    transition: .5s;
    transform: scale(1.15) rotate(3deg);
    color: inherit;
    cursor: pointer;
}
.boton:active{    
    background-color: greenyellow;
}
.doble{
    flex-basis: 36%;
}
.triple{
    flex-basis: 58%;
}
.colorC{
    background-color: red;
    color: white;
}
.colorI{
    background-color: blue;
    color: white;
}
.colorF{
    background-color: orange;
    color: white;
}
.colorD{
    background-color: black;
    color: white;
}
.pantallaArtificial{
    position: absolute;
    background-color: white;
    top: 20px;
}
/*Color Picker*/

.boton-padre{
    border-radius: var(--borde-radio);
    border-color: var(--colorBorde);
    border-style: solid;
    background: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    box-shadow: 1px 1px 6px;
    position: absolute;
    top: 100px;
    right: 40px;
    transition: .5s;
}
#btn-color{
    border-radius: 5%;
    height: 30px;
    margin: 5px;
    transition: .5s;
    border: none;
    cursor: pointer;
}
#btn-color::-webkit-color-swatch-wrapper {
    padding: 0;
}
#btn-color::-webkit-color-swatch {
    border: 0;
    border-radius: 2px;
}  
#btn-color::-moz-color-swatch {
    border: 0;
    border-radius: 2px;
}
#btn-text{
    font-size: 18px;
    margin: 5px;   
    display: flex;
    justify-content: center;
}
#btn-color:hover{
    transform: scale(1.1) rotate(3deg);
    transition: .5s;
    cursor: pointer;
}
.color1{
    width: 50px;
}
.color2{
    width: 50px;
}
.color3{
    width: 50px;
}

/*Grados*/

.grados{
    top: 200px;
    border-radius: var(--borde-radio);
    border-color: var(--colorBorde);
    border-style: solid;
    background: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    box-shadow: 1px 1px 6px;
    position: absolute;
    right: 40px;
    transition: .5s;
}
#grados{
    width: 90%;
    margin: 10px;
    height: 15px;
    -webkit-appearance: none;
    border-radius: 5px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#grados:hover{
    opacity: 1;
}
#grados::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow:0px 0px 11px 8px rgba(0,0,0,0.3);
    background-color: var(--colorBorde);
}

/*Menu*/

.btn-menu{
    position: absolute;
    top: 10px;
    right: 10px;
    transition: .5s;
    border-style: solid;
    border-color: var(--colorBorde);
    border-radius: var(--borde-radio);
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
    animation: var(--moverAp);
}
.btn-menu img{
    margin: 5px;
    width: 50px;
}
.btn-menu:hover{
    cursor: pointer;
    transition: .5s;
}
#atras{
    display: none;
}
.menu{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: .5s;
    right: -300px;
    border-style: solid;
    border-color: var(--colorBorde);
    box-shadow: -1px 0 10px;
    animation: var(--moverAn);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--colorBorde);
}
.difuminado{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: none;
}

/*Numero de Colores*/

.n-colores{
    top: 300px;
    border-radius: var(--borde-radio);
    border-color: var(--colorBorde);
    border-style: solid;
    background: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    box-shadow: 1px 1px 6px;
    position: absolute;
    right: 40px;
    transition: .5s;
}
.n-color{
	width: 26px;
	height: 26px;
    margin: 0 15px;
}

/*Otros*/

@keyframes moverUno {
    100%{
        right: 0;
    }
}
@keyframes moverDos {
    0%{
        right: 0;
    }
    100%{
        right: -300px;
    }
}
@keyframes aparecer{
    0%{
        transform: scale(0) rotate(-180deg);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes desaparecer{
    0%{
        transform: scale(1) rotate(180deg);
    }
    100%{
        transform: scale(0);
    }
}
@media (max-width: 700px){
    .padre{
        height: 500px;
    }
    .pantalla{
        width: 280px;
    }
    .boton{
        height: 60px;
    }
}
@media (max-width: 550px){
    .padre{
        height: 400px;
    }
    .pantalla{
        width: 240px;
        height: 70px;
        font-size: 22px;
        padding: 14px;
    }
    .boton{
        height: 45px;
        font-size: 18px;
    }
}
@media (max-width: 400px){
    .padre{
        height: 350px;
    }
    .pantalla{
        width: 200px;
        height: 55px;
        padding: 12px;
        font-size: 20px;
    }
    .boton{
        height: 40px;
        font-size: 17px;
    }
}
@media (max-width: 320px){
    .padre{
        height: 300px;
    }
    .pantalla{
        width: 150px;
        height: 45px;
        font-size: 18px;
        padding: 10px;
    }
    .boton{
        height: 35px;
        font-size: 15px;
    }
}