:root{
    --borde-radio: 16px 0px;
    --colorUno: white;
    --colorDos: grey;
    --colorTres: black;
}

html{
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background: linear-gradient(320deg, var(--colorTres),var(--colorDos),var(--colorUno));
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}
.padre{
    border-radius: 16px;
    box-shadow: 0 10px 100px rgb(0, 0, 0);
    color: black;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgb(0, 0, 0);
    border-radius: var(--borde-radio);
    height: 540px;
    padding: 20px 35px; 
}
.pantalla{
    background: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: var(--borde-radio);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.5);
    color: black;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}
.boton-fila{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.boton{
    background: rgba(255,255,255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: var(--borde-radio);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
    color: black;
    flex-basis: 15%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
    transition: .5s;
}
.boton:nth-child(4n + 5){
    color: white;
    background-color: black;
}
.boton:hover{
    background-color: inherit;
    transition: .5s;
    transform: scale(1.15) rotate(3deg);
    color: inherit;
    cursor: pointer;
}
.boton:active{    
    background-color: greenyellow;
}
.doble{
    flex-basis: 36%;
}
.triple{
    flex-basis: 58%;
}
.colorC{
    background-color: red;
    color: white;
}
.colorI{
    background-color: blue;
    color: white;
}
.colorF{
    background-color: orange;
    color: white;
}
.colorD{
    background-color: black;
    color: white;
}
.boton-padre{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: var(--borde-radio);
    border-color: black;
    border-style: solid;
    background: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    box-shadow: 1px 1px 6px;
}
#btn-color{
    border-radius: 5px;
    height: 30px;
    width: 50px;
    margin: 5px;
    transition: .5s;
}
#btn-text{
    font-size: 15px;
    margin: 5px;   
    display: flex;
    justify-content: center;
}
#actualizar{
    height: 40px;
    width: 100px;
    border-radius: var(--borde-radio);
    display: list-item;
    margin: 10px 10px 10px 40px;
    transition: .5s;
}
#actualizar:hover, #btn-color:hover{
    transform: scale(1.1) rotate(3deg);
    transition: .5s;
}
@media (max-width: 700px){
    .padre{
        height: 500px;
    }
    .pantalla{
        width: 280px;
    }
    .boton{
        height: 60px;
    }
}
@media (max-width: 550px){
    .padre{
        height: 400px;
    }
    .pantalla{
        width: 240px;
        height: 70px;
        font-size: 22px;
        padding: 14px;
    }
    .boton{
        height: 45px;
        font-size: 18px;
    }
}
@media (max-width: 400px){
    .padre{
        height: 350px;
    }
    .pantalla{
        width: 200px;
        height: 55px;
        padding: 12px;
        font-size: 20px;
    }
    .boton{
        height: 40px;
        font-size: 17px;
    }
}
@media (max-width: 320px){
    .padre{
        height: 300px;
    }
    .pantalla{
        width: 150px;
        height: 45px;
        font-size: 18px;
        padding: 10px;
    }
    .boton{
        height: 35px;
        font-size: 15px;
    }
}